<div class="row my-5 col-md-12"></div>
<div class="row my-5 col-md-12"></div>

<div class="row">
  <div class="col-sm-12">
    <button
      class="btn btn-primary"
      data-toggle="modal"
      data-toggle="modal"
      (click)="modal.show()"
    >
      <i class="feather icon-plus-circle"></i>&nbsp;<strong
        >Agregar Beneficiario</strong
      >
    </button>
  </div>
</div>

<div class="row my-1">
  <app-card
    cardTitle="Mis Sugerencias/Quejas"
    class="col-md-12 col-xl-12 bg-primary"
    [options]="false"
  >
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="bg-primary">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Porcentaje</th>
            <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Item of listaBeneficiario">
            <th scope="row">{{item.nombreBeneficiario}}</th>
            <td>{{item.parentescoBeneficiario}}</td>
            <td>{{item.porcentajeBeneficiario}}</td>
            <td>
              <button class="btn btn-danger">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>

<app-ui-modal #modal [hideFooter]="true" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Agregar Beneficiario</h5>
    <button
      type="button"
      class="close basic-close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="beneficiarioForm">
      <app-card cardTitle="Datos Beneficiario" [options]="false">

        <div class="input-group mb-3">
          <label class="col-12">Nombre </label>
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-comments" aria-hidden="true"></i
            ></span>

          </div>
          <input id="nombre" formControlName="nombre" type="text" class="form-control"
          (blur)="logValidationError()">

          <span class="text-danger" *ngIf="formErrors.nombre">
            {{ formErrors.nombre }}
          </span>
        </div>

        <div class="input-group mb-3">
          <label class="col-12">Parentesco</label>

          <div class="input-group-append">
            <label class="input-group-text" for="parentesco"
              >Opciones</label
            >
          </div>

          <select
            formControlName="tipo"
            class="custom-select"
            id="tipo"
          >
            <option *ngFor="let parentestoitem of listaParentescos" [value]="parentestoitem.codParentesco">
              {{ parentestoitem.nombreParentesco }}
            </option>
          </select>
        </div>

        <div class="input-group mb-3">
          <label class="col-12">Porcentaje</label>
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-comments" aria-hidden="true"></i
            ></span>

          </div>
          <input id="porcentaje" formControlName="porcentaje" type="text" class="form-control"
          (blur)="logValidationError()">

          <span class="text-danger" *ngIf="formErrors.porcentaje">
            {{ formErrors.porcentaje }}
          </span>
        </div>

        <div class="card">
          <div class="card-footer">
            <button
              type="button"
              class="btn btn-primary sm"
              (click)="guardarBeneficiario()"
              (click)="modal.hide()"
              [disabled]="!beneficiarioForm.valid"
            >
              <i class="fa fa-check" aria-hidden="true"></i> &nbsp;Guardar
            </button>
          </div>
        </div>
      </app-card>
    </form>
  </div>
</app-ui-modal>
