
<div class="row">
  <div class="col-sm-12">
    <button
      class="btn btn-primary"
      data-toggle="modal" data-target="#modal"
    >
      <i class="feather icon-plus-circle"></i>&nbsp;<strong
        >Agregar Beneficiario</strong
      >
    </button>

    <button class="btn btn-primary margin-left" (click)="regresoexpediente()">
      Cancelar
    </button>

  </div>
</div>

<div class="row my-2">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead style="background-color: blue; color: white">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Porcentaje</th>
            <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaBeneficiario">
            <th scope="row">{{item.nombre}}</th>
            <td>{{item.parentesco.nomParentesco}}</td>
            <td>{{item.porcentaje}}</td>
            <td>
              <button class="btn btn-danger" (click)= "eliminarExperiencia(item.beneficiarioXEmpPK)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>



<!-- modal de agregar -->
<div
  id="modal"
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Beneficiario</h6>
        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          data-dismiss="modal"
        >
          ×
        </button>
      </div>

      <div class="modal-body">
    <form [formGroup]="beneficiarioForm">
      <app-card cardTitle="Datos Beneficiario" [options]="false">

        <div class="input-group mb-3">
          <label class="col-12">Nombre </label>
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-comments" aria-hidden="true"></i
            ></span>

          </div>
          <input id="nombre" formControlName="nombre" type="text" class="form-control"
          (blur)="logValidationError()">

          <span class="text-danger" *ngIf="formErrors.nombre">
            {{ formErrors.nombre }}
          </span>
        </div>

        <div class="input-group mb-3">
          <label class="col-12">Parentesco</label>

          <div class="input-group-append">
            <label class="input-group-text" for="codParentesco"
              >Opciones</label
            >
          </div>

          <select
            formControlName="codParentesco"
            class="custom-select"
            id="codParentesco"
          >
            <option *ngFor="let item of listaParentescos"
            [value]="item.parentescoPK.codParentesco">
              {{ item.nomParentesco }}
            </option>
          </select>
        </div>

        <div class="input-group mb-3">
          <label class="col-12">Porcentaje</label>
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-comments" aria-hidden="true"></i
            ></span>

          </div>
          <input id="porcentaje" formControlName="porcentaje" type="text" class="form-control"
          (blur)="logValidationError()">

          <span class="text-danger" *ngIf="formErrors.porcentaje">
            {{ formErrors.porcentaje }}
          </span>
        </div>

        <div class="card">
          <div class="card-footer">
            <button
              type="button"
              class="btn btn-primary sm"
              data-dismiss="modal"
              (click)="guardarBeneficiario()"
              [disabled]="beneficiarioForm.invalid"
            >
              <i class="fa fa-check" aria-hidden="true"></i> &nbsp;Guardar
            </button>
          </div>
        </div>
      </app-card>
    </form>

      </div>
    </div>
  </div>
</div>

<!--fin modal agregar-->

