.the-legend {
    border:blue 5px solid;
    margin-bottom: 0;
    color: blue;
    font-size: medium;
    font-weight: bolder;
}
.field_set{
    border:blue 5px solid;
  }

  label {
      font-weight: bolder;
  }


  .btn-primary {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }











