
 <div class="btn-toolbar text-center well">
  <button class="btn btn-primary" data-toggle="modal" data-target="#modalCapac">
    Agregar
  </button>

  <button class="btn btn-primary margin-left" (click)="regresoexpediente()">
    Cancelar
  </button>


</div>



<div class="row my-2">
  <table class="table">
    <thead style="background-color: blue; color: white">
      <tr>
        <th scope="col">Capacitación</th>
        <th scope="col">Institución</th>
        <th scope="col">Tipo</th>
        <th scope="col">Fecha Capacitación</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of listaCapacitaciones" let i = index>
        <hr *ngIf="i>0">
        <th scope="row">{{ item.descripcion }}</th>
        <td>{{ item.nomInstitucion }}</td>
        <td>{{ item.tipo }}</td>
        <td>{{ item.fechaCapacitacion }}</td>
        <td>
          <button class="btn btn-danger" (click)="eliminarContacto(item.capacitacionXEmpPK)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- modal de agregar -->
<div class="modal fade" id="modalCapac" role="dialog">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Agregar Capacitación</h6>
        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          data-dismiss="modal"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="capacitacionForm" class="form-horizontal">
          <div class="container">
            <div class="panel panel-primary">
              <div class="panel-body">

                <div class="form-group col-md-4 col-sm-4">
                  <label for="tipo">Tipo</label>
                  <div class="input-group">
                    <select
                      formControlName="tipo"
                      class="form-control"
                      id="tipo"
                      name="tipo"
                    >
                      <option value="1" disabled>
                        Selecccione&hellip;
                      </option>
                      <option
                        *ngFor="let item of listaTipoCapac"
                        [value]="item.valor"
                      >
                        {{ item.tipo }}
                      </option>
                    </select>
                  </div>
                </div>

                <div
                  class="form-group"
                  [ngClass]="{ 'has-error': formErrors.descripcion }"
                >
                  <label class="control-label col-sm-2" for="descripcion"
                    >Descripción</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      formControlName="descripcion"
                      class="form-control"
                      id="descripcion"
                      placeholder="descripción de la capacitación"
                      name="descripcion"
                      (blur)="logValidationErrors()"
                    />
                    <span class="help-block" *ngIf="formErrors.descripcion">
                      {{ formErrors.descripcion }}
                    </span>
                  </div>
                </div>
                <div
                  class="form-group"
                  [ngClass]="{ 'has-error': formErrors.nomInstitucion }"
                >
                  <label class="control-label col-sm-2" for="nomInstitucion"
                    >Institución</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      formControlName="nomInstitucion"
                      class="form-control"
                      id="nomInstitucion"
                      name="nomInstitucion"
                    />
                    <span class="help-block" *ngIf="formErrors.nomInstitucion">
                      {{ formErrors.nomInstitucion }}
                    </span>
                  </div>
                </div>

                <div class="form-group col-md-4 col-sm-4">
                  <label for="fechaCapacitacion">Fecha Capacitación</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      formControlName="fechaCapacitacion"
                      name="fechaCapacitacion"
                      ngbDatepicker
                      #d11="ngbDatepicker"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-primary fa fa-calendar"
                        (click)="d11.toggle()"
                        type="button"
                      ></button>
                    </div>
                  </div>
                </div>
                <br />
                <div class="panel-footer">
                  <div class="btn-toolbar">
                    <button
                      (click)="agregarCapacitacion()"

                      data-dismiss="modal"
                      [disabled]="capacitacionForm.invalid"
                      class="btn btn-primary"
                    >
                      Agregar
                    </button>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--fin modal agregar-->
